/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.my-card{
    min-width: 70% !important;
}
#invalidCheck{
    margin-top: 10px;
}
#form_group select{
    max-width: 100% !important;
    padding: 2px !important;
}
.inner-form-group{
    margin: 10px 0 !important;
}
.card-header-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.remove{
    align-self: flex-end;
}
.row > *{
    padding-left: 0 !important;
}